@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans       : var(--font-geist-sans);
  --font-mono       : var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background : var(--background);
  color      : var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Input elementi özelleştirmeleri */
input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="search"],
textarea {
  color       : oklch(0.278 0.033 256.848);
  border-color: oklch(0.278 0.033 256.848);
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
textarea:focus {
  outline-color: oklch(0.278 0.033 256.848);
  border-color : oklch(0.278 0.033 256.848);
  ring-color   : oklch(0.278 0.033 256.848);
}